<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NoSqlUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <NoSqlUploader.Properties.Settings>
            <setting name="FileBaseDir" serializeAs="String">
                <value>C:\Users\Administrator\Desktop\faka\admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>...... </value>
            </setting>
            <setting name="BucketName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>http://127.0.0.1</value>
            </setting>
        </NoSqlUploader.Properties.Settings>
    </userSettings>
</configuration>
